<div id="loading-block">Загрузка...</div>
<div id="error-block" style="display: none">
    <div class="error-block__title">Не удалось загрузить города</div>
    <button class="error-block__button js-error-button">Повторить</button>
</div>
<div id="filter-block" style="display: none;">
  <input type="text" placeholder="название города" id="filter-input">

  <div id="filter-result"></div>
</div>
